# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual env
venv/

# Ignore Git metadata
.git
.gitignore

# Ignore secrets
service_account.json

# Ignore local OS/editor junk
.DS_Store
Thumbs.db
# Git ignore rules 
